*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.product-list{
 width: 1440px;
 margin: 0 auto;
 display: flex;
 flex-wrap: wrap;
 gap: 40px;
}
.product{
 flex-grow: 1;
 width: 300px;
 height: auto;
 min-height: 600px;
 border: 1px solid;
 border-radius: 10px;
 padding: 12px;
}

.prices{
    position: relative;
    margin-top: 40px;
    font-weight: 500;
    font-size: 26px;
    color: gold;
    padding: 5px 5px;
    box-shadow: 0px 0px 1.2px lightgray;
    border-radius: 1px;
    overflow: hidden;
}

.prices:hover{
    transform: scale(0.9);
    transition: 0.9s;
}

.prices::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
}

.prices:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    color: rgb(145, 243, 115);
}

.button{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
    border-radius: 20px;
    background: gold;
    box-shadow: 0px 0px 1px rgb(235, 226, 175);
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: black;
}

.button:hover{
    transform: scale(0.95);
    transition: 0.9s;
}